@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    /*Box model stuff*/
    margin: 0;
    padding: 0;
    /*Miscellaneous*/
    box-sizing: border-box;
}

.league-spartan {
    /*Typography stuff*/
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-weight: 800;
    /*Miscellaneous*/
    font-optical-sizing: auto;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr 0.5fr;
}

.header {
    /*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*Box model stuff*/
    padding: 10px;
    border-bottom: 3px solid black;
    /*Typography stuff*/
    font-size: 40px;
    /*Miscellaneous*/
    gap: 400px;
    box-shadow: 1px 2px rgb(226, 223, 223);
}

#clear {
    /*Display stuff*/
    display: flex;
    align-items: center;
    /*Box model stuff*/
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    /*Typography stuff*/
    font-family: "League Spartan", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    /*Miscellaneous*/
    font-optical-sizing: normal;
}

#clear:hover {
    background-color: rgb(226, 223, 223);
}


/* Start of Display */
.display {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.inital_display {
    /*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*Box model stuff*/
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
    /*Typography stuff*/
    font-family: "League Spartan", sans-serif;
    font-size: 25px;
    font-weight: 800;
}

.inital_display:hover {
    background-color: rgb(226, 223, 223);
}

/* Display of Books*/

.books {
    /*Display stuff*/
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-template-rows: repeat(3, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    /*Box model stuff*/
    margin: 30px;
    /*Miscellaneous*/
    gap: 25px;
}

.book {
    /*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*Box model stuff*/
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    outline: 1px solid black;
    background-color: #fef3c7;
    /*Typography stuff*/
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-weight: 500;
    /*Miscellaneous*/
    gap: 10px;
}

.remove-button {
    /*Box model stuff*/
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    font-family: "League Spartan", sans-serif;
    font-size: 15px; 
    font-weight: 500;
}

.not-read {
    /*Box model stuff*/
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(240, 206, 206, 0.753);
    font-family: "League Spartan", sans-serif;
    font-size: 15px; 
    font-weight: 500; 
}

.is-read {
    /*Box model stuff*/
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(99, 224, 94, 0.685);
    font-family: "League Spartan", sans-serif;
    font-size: 15px; 
    font-weight: 500; 
}


/* Start of Footer*/
.footer {
    /*Display stuff*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*Typography stuff*/
    font-family: "League Spartan", sans-serif;
    font-size: 25px;
    font-weight: 800;
    /*Miscellaneous*/
    gap: 10px;
}

.footer svg:hover {
    background-color: rgb(226, 223, 223);
}

/* Start of Modal */

.modal {
    display: none;
}

.modal form {
    /*Display stuff*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*Positioning stuff*/
    position: absolute;
    left: 50%;
    top: 50%;
    /*Box model stuff*/
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 10px;
    outline: 1px solid black;
    background-color: #fef3c7;
    /*Typography stuff*/
    font-family: "League Spartan", sans-serif;
    /*Manipulations stuff*/
    transform: translate(-50%, -50%);
}

#input_Title,
#input_Author,
#input_Pages {
    /*Box model stuff*/
    margin: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    /*Typography stuff*/
    font-family: "League Spartan", sans-serif;
}

#input_Title:hover,
#input_Author:hover,
#input_Pages:hover {
    outline: 1px solid black;
}

#submit {
    /*Box model stuff*/
    width: 50%;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: white;
    /*Typography stuff*/
    font-weight: 500;
}

#submit:hover {
    outline: 1px solid black;
}

.modal form header {
    font-size: 25px;
    margin-top: 25px;
    font-weight: 800;
}

/* Active and Inactive Modals */

.is-active
{
    display: block; 
}